#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100dvw;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  width: calc(100vw - 32px);
  z-index: 1000;
  background-color: var(--subtle-1);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100dvw - 32px);
}

main {
  margin: 100px 0;
  padding: 16px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100vw - 32px);
  z-index: 1000;
  background-color: var(--subtle-2);
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
